h1{
    display: inline-block;
    width: 80%;
    float: left;
}

main{
    width: 40%;
    margin: 10% auto;
    border: 0.5px solid grey;
    font-family: sans-serif;
}

address{
    background-color: grey;
    height: 33.3%;
}

main{
    padding-top: 1%;
}

header, .skill, address {
    padding: 3%;
}

address p {
    display: inline-block;
    width: 65%;
    text-align: right;
}
